basicsr==1.4.2
cupy==8.3.0
Cython==0.29.33
GitPython==3.1.31
lmdb==1.4.0
matplotlib==3.7.1
moviepy==1.0.3
numpy==1.23.5
opencv_contrib_python==4.7.0.72
Pillow==9.5.0
progressbar33==2.4
PyQt5==5.15.9
PyYAML==6.0
scikit_video==1.1.11
scipy==1.9.1
skimage==0.0
tensorboardX==2.6
torch==2.0.0
torchvision==0.13.1a0
tqdm==4.65.0
